header.banner {
  position: relative;
  background-color: $gray-800;
  background: url('../img/banner.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  p {
    font-size:18px;
  }

  a:hover{
    text-decoration: none;
    color: #007bff;
    border-bottom: 2px solid white;
  }

  .portfolio-header{
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px $gray-500;
  }

  h1 {
    font-size: 4rem;
  }
  @media (max-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 14px;
    }
  }
}
