.features-icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .features-icons-item {
    max-width: 20rem;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 6rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .features-icons {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .features-icons-icon {
    i {
      font-size: 3rem;
    }
  }
  .features-icons .features-icons-item .features-icons-icon {
    i {
      font-size: 3.5rem;
      margin-left:6rem;
    }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5.5rem;
    }
  }
}
